/* ---------------------------------------------------------------------
Original Authors: Anthony Ticknor
Contributors: N/A

Target Browsers: IE9+, Chrome, Firefox, Safari, Opera
Media Type: Screen, Projection
------------------------------------------------------------------------ */
/* ---------------------------------------------------------------------
 Variables - Color

 Original Author: Anthony Ticknor
 Contributors: N/A

 Primary colors used throughout the site.
------------------------------------------------------------------------ */
/* ---------------------------------------------------------------------
 Variables - Font Families

 Original Author: Anthony Ticknor
 Contributors: N/A

 Primary fonts used throughout the site.
------------------------------------------------------------------------ */
/* ---------------------------------------------------------------------
 Variables - Font Sizes

 Original Author: Anthony Ticknor
 Contributors: N/A

 Primary font sizes used throughout the site.
------------------------------------------------------------------------ */
/* ---------------------------------------------------------------------
 Font Defaults

 Default font values for use throughout the site
------------------------------------------------------------------------ */
/* ---------------------------------------------------------------------
 Vendor Prefix Mixins

 Original Author: Anthony Ticknor
 Contributors: N/A

 Mixins to insert vendor prefixes
------------------------------------------------------------------------ */
/* ---------------------------------------------------------------------
 Micro Clearfix Mixin

 Original Author: Anthony Ticknor
 Contributors: N/A

 Used by other objects to provide a commong clearing mechanism
------------------------------------------------------------------------ */
/* ---------------------------------------------------------------------
 Reset

 Original Author: Eric Meyer
 Contributors: Anthony Ticknor

 Reset all element styles provided by the UA stylesheet.
------------------------------------------------------------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* ---------------------------------------------------------------------
 HTML5 Block / Inline Block declarations
------------------------------------------------------------------------ */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

/* ---------------------------------------------------------------------
 Form Reset Styles
------------------------------------------------------------------------ */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* ---------------------------------------------------------------------
 Fonts

 Original Author: Anthony Ticknor
 Contributors: N/A

 Custom Fonts used throughout the site.
------------------------------------------------------------------------ */
@font-face {
  font-family: "Metallophile";
  src: url("../fonts/metallophile/metallophile.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* ---------------------------------------------------------------------
 Base

 Original Author: Anthony Ticknor
 Contributors: N/A

 Set default CSS on base level elements.
------------------------------------------------------------------------ */
body {
  background: transparent url(../images/bg-wood.jpg) repeat center 0 fixed;
  color: #222222;
  font-size: 0.875rem;
  line-height: 1.43;
  font-family: Cambria, Georgia, "Times New Roman", Times, sans-serif;
}

a {
  color: #222222;
  text-decoration: none;
}

.main a {
  text-decoration: underline;
}

img, video, canvas {
  max-width: 100%;
}

/* ---------------------------------------------------------------------
 Utility

 Original Author: Anthony Ticknor
 Contributors: N/A

 Single class utilities used throughout the site.
------------------------------------------------------------------------ */
.isHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* ---------------------------------------------------------------------
 Site

 Original Author: Anthony Ticknor
 Contributors: N/A

 Separates the main site masthead / body from the footer to make the
 footer a sticky footer
------------------------------------------------------------------------ */
html,
body {
  height: 100%;
}

.site {
  display: table;
  height: 100%;
  width: 100%;
}

.site-bd {
  display: table-row;
  height: auto;
}

.site-ft {
  display: table-row;
  height: 1px;
}

/* ---------------------------------------------------------------------
 Masthead

 Original Author: Anthony Ticknor
 Contributors: N/A

 The primary masthead of the website
------------------------------------------------------------------------ */
.masthead {
  position: relative;
}

.masthead-logo {
  padding: 16px 0;
  text-align: center;
}

@media (min-width: 37.5em) {
  .masthead-logo {
    padding: 28px 0;
  }
}
.masthead-logo a {
  display: inline-block;
  width: 240px;
  height: 114px;
  background: transparent url(../images/logo.png) no-repeat 0 0 scroll;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -ms-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}

@media (min-width: 37.5em) {
  .masthead-logo a {
    width: 280px;
    height: 133px;
  }
}
/* ---------------------------------------------------------------------
 Navigation Wra[[er

 Original Author: Anthony Ticknor
 Contributors: N/A

 The primary navigation wrapper
------------------------------------------------------------------------ */
.navWrapper {
  background-color: #25433b;
  padding: 12px 0;
}

/* ---------------------------------------------------------------------
 Primary Navigation

 Original Author: Anthony Ticknor
 Contributors: N/A

 The primary navigation of the website
------------------------------------------------------------------------ */
.navPrimary > li a {
  display: block;
  margin-bottom: 6px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 6px 0;
  font-size: 1rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  -o-transition: color 0.1s linear;
  transition: color 0.1s linear;
}

.navPrimary > li:first-child a {
  padding-top: 0;
}

.navPrimary > li:last-child a {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.navPrimary > li a:hover,
.navPrimary > li a:focus {
  color: #f5af40;
}

@media (min-width: 36em) {
  .navPrimary {
    font-size: 0;
    /* remove whitespace between inline-block items */
    text-align: center;
  }

  .navPrimary > li {
    font-size: 0.875rem;
    /* return font-size to default size */
    display: inline-block;
  }

  .navPrimary > li + li {
    margin-left: 24px;
  }

  .navPrimary > li a {
    margin-bottom: 0;
    /* reset margin from smaller screens */
    border-bottom: none;
    /* reset border from smaller screens */
    padding: 0;
    /* reset padding from smaller screens */
    font-size: 0.875rem;
  }
}
@media (min-width: 42em) {
  .navPrimary > li + li {
    margin-left: 42px;
  }
}
@media (min-width: 49em) {
  .navPrimary > li + li {
    margin-left: 56px;
  }

  .navPrimary > li a {
    font-size: 1rem;
  }
}
@media (min-width: 61.25em) {
  .navPrimary {
    text-align: left;
    /* reset text align center from smaller screens */
  }

  .navPrimary > li + li {
    margin-left: 62px;
  }
}
/* ---------------------------------------------------------------------
 Main

 Original Author: Anthony Ticknor
 Contributors: N/A

 Main Content Area
------------------------------------------------------------------------ */
.main {
  background-color: white;
  min-height: 600px;
  padding: 10px 0;
}

@media (min-width: 37.5em) {
  .main {
    padding: 20px 0;
    /* increase padding for larger screens */
  }
}
/* ---------------------------------------------------------------------
 Footer

 Original Author: Anthony Ticknor
 Contributors: N/A

 The primary footer of the website
------------------------------------------------------------------------ */
.footer {
  padding: 20px 0;
  color: #222222;
  font-size: 0.875rem;
  text-align: center;
}

.footer-bd {
  margin-bottom: 16px;
}

@media (min-width: 30em) {
  .footer {
    text-align: left;
    /* reset centering of text on smaller screens */
  }
  .footer:before, .footer:after {
    content: " ";
    display: table;
  }
  .footer:after {
    clear: both;
  }

  .footer-bd {
    float: right;
    width: 30%;
    margin-bottom: 0;
    /* reset margin bottom back to  0 */
    text-align: right;
  }

  .footer-ft {
    float: left;
    width: 70%;
    line-height: 28px;
    /* line-height matches height of social media icons to create vertical alignment */
  }
}
/* ---------------------------------------------------------------------
 Wrapper

 Original Author: Anthony Ticknor
 Contributors: N/A

 Constraints site to a maximum width
------------------------------------------------------------------------ */
.wrapper {
  max-width: 940px;
  min-width: 280px;
  padding: 0 10px;
  margin: 0 auto;
}

@media (min-width: 37.5em) {
  .wrapper {
    padding: 0 20px;
    /* increase padding for larger screens */
  }
}
/* ---------------------------------------------------------------------
 Grid

 Original Author: Anthony Ticknor
 Contributors: N/A

 The primary grid used to layout pages
------------------------------------------------------------------------ */
.grid-col_main {
  margin-bottom: 16px;
  border-bottom: 1px solid #bbbbbb;
  padding-bottom: 16px;
}

.grid-col_full {
  width: 100%;
}

@media (min-width: 52.5em) {
  .grid:before, .grid:after {
    content: " ";
    display: table;
  }
  .grid:after {
    clear: both;
  }

  .grid-col {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .grid-col + .grid-col {
    padding-left: 32px;
  }

  .grid-col_main {
    width: 75%;
    margin-bottom: 0;
    /* reset small scren */
    border-bottom: none;
    /* reset small scren */
    padding-bottom: 0;
    /* reset small scren */
  }

  .grid-col_sub {
    width: 25%;
  }
}
/* ---------------------------------------------------------------------
 Blocks

 Original Author: Anthony Ticknor
 Contributors: N/A

 Grid of side by side items from a list

 1up on small views
 2up on medium views
 3up on large views
------------------------------------------------------------------------ */
.blocks > li {
  padding-bottom: 10px;
}

.blocks > li img {
  display: block;
}

@media (min-width: 30em) {
  .blocks {
    position: relative;
    margin-left: -10px;
    font-size: 0;
    /* remove whitespace between inline-block items */
  }

  .blocks > li {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    padding-left: 10px;
    font-size: 0.875rem;
    /* return font-size to default size */
    vertical-align: top;
  }
}
@media (min-width: 37.5em) {
  .blocks {
    margin-left: -20px;
  }

  .blocks > li {
    padding-left: 20px;
    padding-bottom: 20px;
  }
}
@media (min-width: 49em) {
  .blocks > li {
    width: 33.3333%;
  }
}
/* ---------------------------------------------------------------------
 Teaser

 Original Author: Anthony Ticknor
 Contributors: N/A

 The standard teaser excerpt used for posts
------------------------------------------------------------------------ */
.teaser-media {
  margin-bottom: 10px;
}

@media (min-width: 30em) {
  .teaser:before, .teaser:after {
    content: " ";
    display: table;
  }
  .teaser:after {
    clear: both;
  }

  .teaser-media {
    float: left;
    width: 160px;
    margin-right: 20px;
    margin-bottom: 0;
    /* reset margin-bottom from small screen */
  }

  .teaser-bd {
    overflow: hidden;
    /* trigger BFC to prevent wrapping */
  }
}
@media (min-width: 37.5em) {
  .teaser-media {
    width: 180px;
  }
}
@media (min-width: 60em) {
  .teaser-media {
    width: 220px;
  }
}
/* ---------------------------------------------------------------------
 Feature

 Original Author: Anthony Ticknor
 Contributors: N/A

 Top to bottom feature layout
------------------------------------------------------------------------ */
.feature-hd_push {
  margin-bottom: 4px;
}

@media (min-width: 37.5em) {
  .feature-hd_push {
    margin-bottom: 8px;
  }
}
.feature-meta {
  margin-bottom: 8px;
  color: #666666;
}

.feature-media {
  margin-bottom: 12px;
}

/* ---------------------------------------------------------------------
 Media

 Original Author: Anthony Ticknor
 Contributors: N/A

 Standard media object with text non-wrapping
------------------------------------------------------------------------ */
@media (min-width: 30em) {
  .media:before, .media:after {
    content: " ";
    display: table;
  }
  .media:after {
    clear: both;
  }

  .media-media {
    float: left;
    margin-right: 16px;
    margin-bottom: 4px;
    width: 30%;
  }

  .media-media img {
    display: block;
  }

  .media-bd {
    overflow: hidden;
    /* bfc */
  }
}
@media (min-width: 37.5em) {
  .media-media {
    margin-right: 20px;
  }
}
/* ---------------------------------------------------------------------
 Flag

 Original Author: Anthony Ticknor
 Contributors: N/A

 Standard flag object with text wrapping
------------------------------------------------------------------------ */
@media (min-width: 30em) {
  .flag:before, .flag:after {
    content: " ";
    display: table;
  }
  .flag:after {
    clear: both;
  }

  .flag-media {
    float: left;
    margin-right: 16px;
    margin-bottom: 4px;
    width: 30%;
  }

  .flag-media img {
    display: block;
  }
}
@media (min-width: 37.5em) {
  .flag-media {
    margin-right: 20px;
  }
}
/* ---------------------------------------------------------------------
 Widgets

 Original Author: Anthony Ticknor
 Contributors: N/A

 Standard widget on the site.
------------------------------------------------------------------------ */
.widget + .widget {
  margin-top: 16px;
  border-top: 1px solid #bbbbbb;
  padding-top: 16px;
}

.widget-hd {
  margin-bottom: 8px;
}

/* ---------------------------------------------------------------------
 Horizontal List

 Original Author: Anthony Ticknor
 Contributors: N/A

 Put list items side by side / left to right in a horizontal fashion
------------------------------------------------------------------------ */
.hlist {
  font-size: 0;
  /* remove whitespace between inline-block items */
}

.hlist > li {
  font-size: 0.875rem;
  /* return font-size to default size */
  display: inline-block;
}

.hlist_social > li + li {
  margin-left: 8px;
}

/* ---------------------------------------------------------------------
 Veritcal List

 Original Author: Anthony Ticknor
 Contributors: N/A

 List items displayed vertically and spaced
------------------------------------------------------------------------ */
.vlist > li {
  margin-bottom: 20px;
}

/* ---------------------------------------------------------------------
 Heading

 Original Author: Anthony Ticknor
 Contributors: N/A

 Style used for headings throughout the site
------------------------------------------------------------------------ */
.hdg {
  font-family: Cambria, Georgia, "Times New Roman", Times, sans-serif;
  font-weight: bold;
  color: #222222;
}

.hdg_xxl {
  font-size: 2rem;
}

.hdg_xl {
  font-size: 1.5rem;
}

.hdg_lg {
  font-size: 1.25rem;
}

.hdg_md {
  font-size: 1rem;
}

.hdg_sm {
  font-size: 0.875rem;
}

.hdg_xs {
  font-size: 0.75rem;
}

.hdg_xxs {
  font-size: 0.625rem;
}

.mix-hdg_caps {
  text-transform: uppercase;
}

/* ---------------------------------------------------------------------
 Pagination

 Original Author: Anthony Ticknor
 Contributors: N/A

 Global Pagination Styles
------------------------------------------------------------------------ */
.pagination:before, .pagination:after {
  content: " ";
  display: table;
}
.pagination:after {
  clear: both;
}

.pagination-older {
  width: 50%;
  float: left;
  text-align: left;
}

.pagination-older a:before {
  content: "\00AB\0000a0";
}

.pagination-newer {
  width: 50%;
  float: right;
  text-align: right;
}

.pagination-newer a:after {
  content: "\0000a0\00BB";
}

/* ---------------------------------------------------------------------
 Social Media Icons

 Original Author: Anthony Ticknor
 Contributors: N/A

 Define social media icons for use throughout the site
------------------------------------------------------------------------ */
.icnSocial {
  display: inline-block;
  height: 32px;
  width: 32px;
  vertical-align: middle;
  background-image: url(../images/icon-social.png);
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -ms-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}

.icnSocial_facebook {
  background-position: 0 0;
}

.icnSocial_twitter {
  background-position: 0 -32px;
}

.icnSocial_googlePlus {
  background-position: 0 -64px;
}

.icnSocial_rss {
  background-position: 0 -96px;
}

@media (min-width: 30em) {
  .icnSocial {
    height: 28px;
    width: 28px;
  }

  .icnSocial_facebook {
    background-position: 0 0;
  }

  .icnSocial_twitter {
    background-position: 0 -28px;
  }

  .icnSocial_googlePlus {
    background-position: 0 -56px;
  }

  .icnSocial_rss {
    background-position: 0 -84px;
  }
}
/* ---------------------------------------------------------------------
 UserContent

 Original Author: Anthony Ticknor
 Contributors: N/A

 Quarantine styles applied to areas where content is dynamic and
 generated by a content editor / CMS.

 Usage
 <div class="userContent">
 ...
 </div>
------------------------------------------------------------------------ */
/* ---------------------------------------------------------------------
userContent default
------------------------------------------------------------------------ */
.userContent {
  font-size: 0.875rem;
  line-height: 1.43;
  font-family: Cambria, Georgia, "Times New Roman", Times, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #222222;
}

/* ---------------------------------------------------------------------
userContent paragraphs
------------------------------------------------------------------------ */
.userContent p {
  margin: 0 0 12px 0;
}

.userContent p:first-of-type {
  font-size: 1.125rem;
}

/* ---------------------------------------------------------------------
userContent headings
------------------------------------------------------------------------ */
.userContent h1 {
  font-size: 24px;
  line-height: 1;
  font-weight: bold;
  color: #0066ff;
  margin: 0 0 12px 0;
}

.userContent h2 {
  font-size: 21px;
  line-height: 1;
  font-weight: bold;
  color: #0066ff;
  margin: 0 0 12px 0;
}

.userContent h3 {
  font-size: 18px;
  line-height: 1;
  font-weight: bold;
  color: #0066ff;
  margin: 0 0 12px 0;
}

.userContent h4 {
  font-size: 16px;
  line-height: 1;
  font-weight: bold;
  color: #0066ff;
  margin: 0 0 12px 0;
}

.userContent h5 {
  font-size: 14px;
  line-height: 1;
  font-weight: bold;
  color: #0066ff;
  margin: 0 0 12px 0;
}

.userContent h6 {
  font-size: 12px;
  line-height: 1;
  font-weight: bold;
  color: #0066ff;
  margin: 0 0 12px 0;
}

/* ---------------------------------------------------------------------
userContent sections
------------------------------------------------------------------------ */
.userContent blockquote {
  margin: 0 24px 12px 24px;
  padding: 12px;
  background: #eeeeee;
  font-style: italic;
}

.userContent address {
  margin: 0 0 12px 0;
  font-style: italic;
}

/* ---------------------------------------------------------------------
userContent anchors
------------------------------------------------------------------------ */
.userContent a:link {
  color: #222222;
  text-decoration: underline;
}

.userContent a:visited {
  color: #222222;
}

.userContent a:focus,
.userContent a:hover {
  color: #222222;
}

.userContent a:active {
  color: #222222;
}

/* ---------------------------------------------------------------------
userContent text formatting
------------------------------------------------------------------------ */
.userContent strong,
.userContent b {
  font-weight: bold;
}

.userContent em,
.userContent i {
  font-style: italic;
}

.userContent del,
.userContent strike,
.userContent s {
  text-decoration: line-through;
}

.userContent u,
.userContent ins {
  text-decoration: underline;
}

.userContent sup {
  vertical-align: super;
  font-size: smaller;
}

.userContent sub {
  vertical-align: sub;
  font-size: smaller;
}

.userContent big {
  font-size: larger;
}

.userContent small {
  font-size: smaller;
}

.userContent abbr,
.userContent acronym {
  border-bottom: dotted 1px;
}

.userContent cite,
.userContent dfn {
  font-style: italic;
}

.userContent q {
  font-style: italic;
}

.userContent q::before {
  content: open-quote;
}

.userContent q::after {
  content: close-quote;
}

.userContent q:lang(en) {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

.userContent bdo {
  direction: rtl;
}

.userContent blink {
  text-decoration: blink;
}

/* ---------------------------------------------------------------------
userContent computer output
------------------------------------------------------------------------ */
.userContent pre {
  margin: 0 0 12px 0;
  font-family: "Lucida Console", Monaco, monospace;
  white-space: normal;
}

.userContent code,
.userContent samp,
.userContent tt,
.userContent kbd {
  font-family: "Lucida Console", Monaco, monospace;
}

.userContent var {
  font-style: italic;
}

/* ---------------------------------------------------------------------
userContent lists
------------------------------------------------------------------------ */
.userContent ul,
.userContent ol,
.userContent dl {
  margin-top: 0;
  margin-bottom: 12px;
}

.userContent ul {
  list-style-type: disc;
  margin: 0 0 12px 0;
}

.userContent ol {
  list-style-type: decimal;
  margin: 0 0 12px 0;
}

.userContent dt {
  font-weight: bold;
}

.userContent li,
.userContent dd {
  margin: 0 0 0 24px;
}

/* nested lists have no top/bottom margins */
.userContent ul ul,
.userContent ul ol,
.userContent ul dl,
.userContent ol ul,
.userContent ol ol,
.userContent ol dl,
.userContent dl ul,
.userContent dl ol,
.userContent dl dl {
  margin-top: 0;
  margin-bottom: 0;
}

/* 2 deep unordered lists use a circle */
.userContent ol ul,
.userContent ul ul {
  list-style-type: circle;
}

/* 3 deep (or more) unordered lists use a square */
.userContent ol ol ul,
.userContent ol ul ul,
.userContent ul ol ul,
.userContent ul ul ul {
  list-style-type: square;
}

/* ---------------------------------------------------------------------
userContent tables
------------------------------------------------------------------------ */
.userContent table {
  margin: 0 0 20px 0;
  width: 100% !important;
  border-spacing: 2px;
  border-collapse: separate;
}

.userContent caption {
  font-size: smaller;
}

.userContent tr {
  vertical-align: middle;
}

.userContent tbody {
  vertical-align: middle;
}

.userContent thead {
  vertical-align: middle;
}

.userContent tfoot {
  vertical-align: middle;
}

.userContent td {
  vertical-align: middle;
  text-align: left;
  padding: 2px 4px;
}

.userContent th {
  vertical-align: middle;
  text-align: left;
  font-weight: bold;
  padding: 2px 4px;
  background-color: #666666;
  color: #ffffff;
}

.userContent tr:nth-child(even) td {
  background-color: #cccccc;
}

/* ---------------------------------------------------------------------
userContent horizontal rule
------------------------------------------------------------------------ */
.userContent hr {
  margin: 0 0 12px 0;
  background: #666666;
  color: #666666;
  height: 1px;
  border: none;
  line-height: 1px;
  font-size: 1px;
}

/* ---------------------------------------------------------------------
userContent media
------------------------------------------------------------------------ */
.userContent img,
.userContent video,
.userContent audio {
  max-width: 100% !important;
}

/* ---------------------------------------------------------------------
userContent undefined elements
------------------------------------------------------------------------ */
.userContent html,
.userContent head,
.userContent body,
.userContent title,
.userContent meta,
.userContent link,
.userContent style,
.userContent script,
.userContent noscript,
.userContent base,
.userContent basefont,
.userContent div,
.userContent span,
.userContent header,
.userContent hgroup,
.userContent footer,
.userContent main,
.userContent section,
.userContent article,
.userContent aside,
.userContent nav,
.userContent figcaption,
.userContent figure,
.userContent menu,
.userContent command,
.userContent summary,
.userContent details,
.userContent canvas
.userContent applet,
.userContent object,
.userContent embed,
.userContent source,
.userContent param,
.userContent track,
.userContent map,
.userContent area
.userContent iframe,
.userContent frame,
.userContent frameset,
.userContent noframes,
.userContent fieldset,
.userContent legend,
.userContent form,
.userContent label,
.userContent isindex,
.userContent input,
.userContent select,
.userContent option,
.userContent optgroup,
.userContent textarea,
.userContent button,
.userContent datalist,
.userContent meter,
.userContent progress,
.userContent output,
.userContent keygen,
.userContent ruby,
.userContent rt,
.userContent rp,
.userContent mark,
.userContent time,
.userContent wbr,
.userContent br,
.userContent dir,
.userContent font,
.userContent center {
  /* nil */
}
