/* ---------------------------------------------------------------------
 Box

 Original Author: Anthony Ticknor
 Contributors: N/A

------------------------------------------------------------------------ */
.box {
    background-color: $color-offwhite;
    padding: 16px;
}

.box {
    margin-top: 16px;
}

.box-hd {
    margin-bottom: 8px;
}