/* ---------------------------------------------------------------------
 Box

 Original Author: Anthony Ticknor
 Contributors: N/A

 A Plain Old Box.
------------------------------------------------------------------------ */
.box {
    background-color: $color-lightgrey;
    padding: 10px;
}