/* ---------------------------------------------------------------------
 Button

 Original Author: Anthony Ticknor
 Contributors: N/A

 The main buttons used throughout the site.
------------------------------------------------------------------------ */
.btn {
    padding: 10px;
    margin: 0;
    background-color: $color-brand-lime;
    color: $color-white;
    border: none;
    font-family: $font-serif;
    font-size: $font-size-xs;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    text-decoration: none !important; // a button should never have an undertline. ever.
    @include transition(background-color .1s linear);
}

.btn:hover {
    background-color: $color-brand-lime-dark;
    color: $color-white;
}