/* ---------------------------------------------------------------------
 Button

 Original Author: Anthony Ticknor
 Contributors: N/A

 The main buttons used throughout the site.
------------------------------------------------------------------------ */
.btn {
    padding: 10px;
    margin: 0;
    background-color: $color-brand-green;
    color: $color-white;
    border: none;
    font-family: $font-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}