/* ---------------------------------------------------------------------
 Feature

 Original Author: Anthony Ticknor
 Contributors: N/A

 Top to bottom feature layout
------------------------------------------------------------------------ */
.feature-hd_push {
    margin-bottom: 4px;
}

@media (min-width: 37.5em) {
    .feature-hd_push {
        margin-bottom: 8px;
    }
}

.feature-meta {
    margin-bottom: 8px;
    color: $color-midgrey;
}

.feature-media {
    margin-bottom: 12px;
}

.feature-bd_push {
    margin-bottom: 16px;
}

.feature-ft {
    text-align: right;
}