/* ---------------------------------------------------------------------
 Feature

 Original Author: Anthony Ticknor
 Contributors: N/A

 Top to bottom feature layout
------------------------------------------------------------------------ */
.feature-meta {
    margin-bottom: 8px;
    color: $color-midgrey;
}

.feature-media {
    margin-bottom: 12px;
}