/* ---------------------------------------------------------------------
 Flag

 Original Author: Anthony Ticknor
 Contributors: N/A

 Standard flag object with text wrapping
------------------------------------------------------------------------ */
@media (min-width: 30em) {

    .flag {
        @include micro-clearfix();
    }

    .flag-media {
        float: left;
        margin-right: 10px;
        margin-bottom: 4px;
        width: 30%;
    }

    .flag-media img {
        display: block;
    }

    .flag-bd {
        overflow: hidden; /* bfc */
    }

}

@media (min-width: 37.5em) {
    .flag-media {
        margin-right: 20px;
    }

}