/* ---------------------------------------------------------------------
 Grid

 Original Author: Anthony Ticknor
 Contributors: N/A

 The primary grid used to layout pages
------------------------------------------------------------------------ */
.grid-col_main {
    margin-bottom: 16px;
    border-bottom: 1px solid $color-lightgrey;
    padding-bottom: 16px;
}


@media (min-width: 52.5em) {
    .grid {
        @include micro-clearfix();
    }

    .grid-col {
        float: left;
        @include box-sizing(border-box);
    }

    .grid-col + .grid-col { padding-left: 32px; }

    .grid-col_main {
        width: 70%;
        margin-bottom: 0; /* reset small scren */
        border-bottom: none; /* reset small scren */
        padding-bottom: 0; /* reset small scren */
    }

    .grid-col_sub { width: 30%; }
}