/* ---------------------------------------------------------------------
 Grid

 Original Author: Anthony Ticknor
 Contributors: N/A

 The primary grid used to layout pages
------------------------------------------------------------------------ */
.grid-col + .grid-col {
    margin-top: 16px;
    border-top: 1px solid $color-lightgrey;
    padding-top: 16px;
}

.grid-col_full {
    width: 100%;
}

@media (min-width: 52.5em) {
    .grid {
        @include micro-clearfix();
    }

    .grid-col {
        float: left;
        @include box-sizing(border-box);
    }

    .grid-col + .grid-col {
        padding-left: 32px;
        margin-top: 0; /* reset small scren */
        border-top: none; /* reset small scren */
        padding-top: 0; /* reset small scren */
    }

    .grid-col_main { width: 75%; }
    .grid-col_sub { width: 25%; }    
    .grid-col_half { width: 50%; }

}