/* ---------------------------------------------------------------------
 Horizontal List

 Original Author: Anthony Ticknor
 Contributors: N/A

 Put list items side by side / left to right in a horizontal fashion
------------------------------------------------------------------------ */
.hlist {
    font-size: 0; /* remove whitespace between inline-block items */
}

.hlist > li {
    font-size: $font-size-default; /* return font-size to default size */
    display: inline-block;
}

.hlist_gapMd > li + li {
    margin-left: 12px;
}

.hlist_social > li + li {
    margin-left: 8px;
}