/* ---------------------------------------------------------------------
 Media

 Original Author: Anthony Ticknor
 Contributors: N/A

 Standard media object with text non-wrapping
------------------------------------------------------------------------ */
@media (min-width: 36em) {

    .media {
        @include micro-clearfix();
    }

    .media-media {
        float: left;
        margin-right: 16px;
        margin-bottom: 4px;
        width: 30%;
    }

    .media-media img {
        display: block;
    }

    .media-bd {
        overflow: hidden; /* bfc */
    }

}

@media (min-width: 37.5em) {
    .media-media {
        margin-right: 20px;
    }

}