/* ---------------------------------------------------------------------
 Teaser

 Original Author: Anthony Ticknor
 Contributors: N/A

 The standard teaser excerpt used for posts
------------------------------------------------------------------------ */
.teaser-media {
    margin-bottom: 10px;
}

@media (min-width: 30em) {
    .teaser {
        @include micro-clearfix();
    }

    .teaser-media {
        float: left;
        width: 160px;
        margin-right: 20px;
        margin-bottom: 0; /* reset margin-bottom from small screen */
    }

    .teaser-bd {
        overflow: hidden; /* trigger BFC to prevent wrapping */
    }
}

@media (min-width: 37.5em) {
    .teaser-media {
        width: 180px;
    }
}

@media (min-width: 60em) {
    .teaser-media {
        width: 220px;
    }
}