/* ---------------------------------------------------------------------
 FooterWrapper

 Original Author: Anthony Ticknor
 Contributors: N/A

 The container for the footer
------------------------------------------------------------------------ */
.footerWrapper {
    background-color: $color-light;
    position: relative;
    margin-top: 24px;
}

.footerWrapper:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    @include linear-gradient("to top", transparent, rgba(20,20,20,.1));
}


/* ---------------------------------------------------------------------
 Footer

 Original Author: Anthony Ticknor
 Contributors: N/A

 The primary footer of the website
------------------------------------------------------------------------ */
.footer {
    padding: 20px 0;
    font-size: $font-size-xs;
    text-align: center;
}

.footer-bd {
    margin-bottom: 16px;
}

@media (min-width: 30em) {
    .footer {
        text-align: left; /* reset centering of text on smaller screens */
        @include micro-clearfix();
    }

    .footer-bd {
        float: right;
        width: 30%;
        margin-bottom: 0; /* reset margin bottom back to  0 */
        text-align: right;
    }

    .footer-ft {
        float: left;
        width: 70%;
        line-height: 28px; /* line-height matches height of social media icons to create vertical alignment */
    }
}