/* ---------------------------------------------------------------------
 Footer

 Original Author: Anthony Ticknor
 Contributors: N/A

 The primary footer of the website
------------------------------------------------------------------------ */
.footer {
    padding: 20px 0;
    margin-top: 20px;
    border-top: 1px solid $color-lightgrey;
    font-size: $font-size-xs;
    text-align: center;
}

.footer-bd {
    margin-bottom: 16px;
}

@media (min-width: 30em) {
    .footer {
        text-align: left; /* reset centering of text on smaller screens */
        @include micro-clearfix();
    }

    .footer-bd {
        float: right;
        width: 30%;
        margin-bottom: 0; /* reset margin bottom back to  0 */
        text-align: right;
    }

    .footer-ft {
        float: left;
        width: 70%;
        line-height: 28px; /* line-height matches height of social media icons to create vertical alignment */
    }
}