/* ---------------------------------------------------------------------
 MastheadWrapper

 Original Author: Anthony Ticknor
 Contributors: N/A

 The container for the masthead
------------------------------------------------------------------------ */
.mastheadWrapper {
    background: transparent url(../images/bg-wood.jpg) repeat center 0 fixed;
    position: relative;
}

.mastheadWrapper:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    @include linear-gradient("to bottom", transparent, rgba(20,20,20,.1));
}

/* ---------------------------------------------------------------------
 Masthead

 Original Author: Anthony Ticknor
 Contributors: N/A

 The primary masthead of the website
------------------------------------------------------------------------ */
.masthead {
    margin-bottom: 20px;
    position: relative;
}

.masthead-logo {
    padding: 28px 0;
    text-align: center;
}

.masthead-logo a {
    display: inline-block;
    font-family: Metallophile;
}