/* ---------------------------------------------------------------------
 Masthead

 Original Author: Anthony Ticknor
 Contributors: N/A

 The primary masthead of the website
------------------------------------------------------------------------ */
.mastheadWrapper {
    background: transparent url(../images/bg-wood.jpg) repeat center 0 fixed;
}

.masthead {
    position: relative;
}

.masthead-logo {
    padding: 16px 0;
    text-align: center;
}

@media (min-width: 37.5em) {
    .masthead-logo {
        padding: 28px 0;
    }
}

.masthead-logo a {
    display: inline-block;
    width: 240px;
    height: 114px;
    background: transparent url(../images/logo.png) no-repeat 0 0 scroll;
    @include background-size(100%);
}

@media (min-width: 37.5em) {
    .masthead-logo a {
        width: 280px;
        height: 133px;
    }
}