/* ---------------------------------------------------------------------
 Primary Navigation

 Original Author: Anthony Ticknor
 Contributors: N/A

 The primary navigation of the website
------------------------------------------------------------------------ */
.navPrimary > li a {
    display: block;
    font-size: $font-size-md;
    color: $color-black;
    color: rgba(0,0,0,0.7);
    text-decoration: none;
    font-weight: bold;
    @include transition(color .1s linear);
}

.navPrimary > li a:hover,
.navPrimary > li a:focus {
    color: $color-black;
}

@media (min-width: 480px) {
    .navPrimary {
        padding: 16px 0;
        font-size: 0; /* remove whitespace between inline-block items */
        text-align: center;
    }

    .navPrimary > li {
        font-size: $font-size-default; /* return font-size to default size */
        display: inline-block;
    }

    .navPrimary > li + li {
        margin-left: 32px;
    }
}

@media (min-width: 600px) {
    .navPrimary > li + li {
        margin-left: 44px;
    }
}

@media (min-width: 740px) {
    .navPrimary > li + li {
        margin-left: 60px;
    }

    .navPrimary > li a {
        font-size: $font-size-lg;
    }
}

@media (min-width: 840px) {
    .navPrimary {
        text-align: left; /* reset text align to left */
    }}