/* ---------------------------------------------------------------------
 Primary Navigation

 Original Author: Anthony Ticknor
 Contributors: N/A

 The primary navigation of the website
------------------------------------------------------------------------ */
.navPrimary > li a {
    display: block;
    font-size: $font-size-sm;
    color: rgba(0,0,0,0.7);
    text-decoration: none;
    font-weight: bold;
    @include transition(color .1s linear);
}

.navPrimary > li a:hover,
.navPrimary > li a:focus {
    color: rgba(0,0,0,0.8);
}


.navPrimary {
    font-size: 0; /* remove whitespace between inline-block items */
    text-align: center;
}

.navPrimary > li {
    font-size: $font-size-default; /* return font-size to default size */
    display: inline-block;
}

.navPrimary > li + li {
    margin-left: 24px;
}

@media (min-width: 24em) {
    .navPrimary > li a {
        font-size: $font-size-md;
    }
}

@media (max-width: 30em) {
    /* hide the contact menu item from the main nav */
    .navPrimary > li:nth-child(5) {
        display: none;
    }
}

@media (min-width: 30em) {
    .navPrimary > li + li {
        margin-left: 32px;
    }
}

@media (min-width: 37.5em) {
    .navPrimary > li + li {
        margin-left: 44px;
    }
}

@media (min-width: 46.25em) {
    .navPrimary > li + li {
        margin-left: 60px;
    }

    .navPrimary > li a {
        font-size: $font-size-xmd;
    }
}