/* ---------------------------------------------------------------------
 Micro Clearfix Mixin

 Original Author: Anthony Ticknor
 Contributors: N/A

 Used by other objects to provide a commong clearing mechanism
------------------------------------------------------------------------ */
@mixin micro-clearfix() {
   &:before,
   &:after {
       content: " ";
       display: table;
   }
   &:after {
       clear: both;
   }
}
