/* ---------------------------------------------------------------------
 Variables - Color

 Original Author: Anthony Ticknor
 Contributors: N/A

 Primary colors used throughout the site.
------------------------------------------------------------------------ */
$color-white: #ffffff;
$color-black: #222222;
$color-midgrey: #666666;
$color-lightgrey: #bbbbbb;
$color-brand-green: #25433b;
$color-brand-yellow: #f5af40;

/* ---------------------------------------------------------------------
 Variables - Font Families

 Original Author: Anthony Ticknor
 Contributors: N/A

 Primary fonts used throughout the site.
------------------------------------------------------------------------ */
$font-sans-serif: Helvetica, Arial, "Lucida Grande", sans-serif;
$font-serif: Cambria, Georgia, "Times New Roman", Times, sans-serif;

/* ---------------------------------------------------------------------
 Variables - Font Sizes

 Original Author: Anthony Ticknor
 Contributors: N/A

 Primary font sizes used throughout the site.
------------------------------------------------------------------------ */
$font-size-xxs: 0.625rem;   // 10px
$font-size-xs: .75rem;      // 12px
$font-size-sm: .875rem;     // 14px
$font-size-md: 1rem;        // 16px
$font-size-xmd: 1.125rem;   // 18px
$font-size-lg: 1.25rem;     // 20px
$font-size-xl: 1.5rem;      // 24px
$font-size-xxl: 2rem;       // 32px

/* ---------------------------------------------------------------------
 Font Defaults

 Default font values for use throughout the site
------------------------------------------------------------------------ */
$font-size-default: $font-size-sm;

